<div class="column is-half">
  <% if user_signed_in? %>
      <%= render 'form' %>
      <br>
  <% end %>

  <% @posts.each do | post | %>
      <div class="box">
        <article class="media">
          <figure class="media-left">
            <img class="image is-64x64"src="https://static.thenounproject.com/png/574704-200.png" alt="An Anonymous User">
          </figure>
          <div class="media-content">
            <div class="content">
              <p>
                <%= link_to(post, class: 'has-text-link') do %><strong><%= post.title %></strong><span></span><% end %>
                <% if user_signed_in? %>
                  <small><%= post.user.username%></small>
                <% else %>
                  <small>Sign in to see who posted this!</small>
                <% end %>
                <br>
                <%= post.body %>
              </p>
            </div>
          </div>
          <% if user_signed_in? %>
            <% if current_user == post.user %>
              <div class="media-right">
                <%= button_to '', post, method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'delete' %>
              </div>
            <% end %>
          <% end %>
        </article>
      </div>
  <% end %>
  </div>