<section class="section">
    <div class="columns">
      <% if user_signed_in? %>
        <%= render 'profile' %>
        <%= render 'feed' %>
        <%= render 'recommended' %>
      <% else %>
        <%= render 'recommended' %>
        <%= render 'feed' %>
      <% end %>  
    </div>
</section>